html {
    padding-top: 25px;
    background-color: #55779A;
}
body {
    width: 80%;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    margin: 0 auto;
    background-color: #9AB3CD;
}
h1 {
    color: black;
    font-size: 3em;
    font-family: 'Arial Black', serif;
    font-weight: normal;
    margin: 0;
}

p {
    font-family: "Palatino Linotype", Baskerville, serif;
    color: black;
    line-height: 150%;
    margin-top: 10px;
    margin-left: 5px;
}
h2 {
    color: black;
    font-family: 'Arial Black', serif;
    font-weight: normal;
    font-size: 2.2em;
    border-bottom: 2px dimgrey solid;
    padding: 0 0 2px 0px;
    margin-top: 25px;
}
.intro {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 0;
}
